<div class="container">
    <div class="search-bar">
      <input type="text" [(ngModel)]="searchTerm" placeholder="Rechercher par nom ou prénom" (input)="filterUsers()">
    </div>
    <div class="friend-list">
        <div class="friend" *ngFor="let user of filteredUsers">{{ user.name }}>
            <div class="friend-details" >
              
              <span class="friend-name">{{ user.username }}</span>
            </div>
            <div class="friend-actions">
              <button (click)="showColorPicker()" [style.background-color]="user.couleur">Color</button>

              <button  (click)="findId(user.id)" class="share-button">+</button>
            </div>
          </div>
          
    </div>
  </div>
  