/* Écran de taille supérieure à 576px
@media (min-width: 576px) {
    .container {
      max-width: 500px;
      margin-top: 30px;
      padding: 30px;
    }
    form {
        display: flex;
        flex-direction: column;
        width:64vw;
        gap : 20px;
        
    
    }
    .form-group {
      display: flex;
      flex-direction: row;
      gap:20px;
      align-items: center;
      width: 30vw;
      height:6vh;
      border-radius: 5px;
      border: none;
      box-sizing: border-box;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  
    .form-group label {
      flex-basis: 20%;
      margin-right: 20px;
    }
  
    .form-group input[type="text"],
    .form-group input[type="email"],
    .form-group input[type="password"] {
      flex-grow: 1;
      width: 64vw;
    height: 6vh;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  
    .form-check-label {
      margin-left: 0;
    }
  
    .btn {
      width: auto;
      margin-top: 30px;
    } */
  
  
  /* Écran de taille inférieure ou égale à 576px */
  /* @media (max-width: 576px) {
    .container {
      max-width: 100%;
      margin-top: 30px;
      padding: 20px;
    }
  
    .form-group label {
      margin-bottom: 10px;
    }
  
    .form-group input[type="text"],
    .form-group input[type="email"],
    .form-group input[type="password"] {
      width: 100%;
      margin-bottom: 20px;
    }
  }
   */


   main {
    width: 100vw;
    height: 100%;
    max-width: 768px;
    margin: auto ;
    font-family: 'Montserrat', sans-serif;
    background-image: url("/assets/bg_original2.png");
    background-size: cover;

}

.main {
    width:77vw;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
}

.logo {
    width:  66vw;
    height: 257px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.logo img {
    height: 20vh;


}


form {
    display: flex;
    flex-direction: column;
    

}

.title {
    height: 6vh;
    display: flex;
    align-items: center;
}

.title h2 {
    font-size: 1.5em;
    font-weight: 700;
    margin: 0;
    color: var(--china-rose);

}

.fullName {
    width:64vw;
    display: flex;
    justify-content: space-between;
}

.fullName input {
    width: 30vw;
    height:6vh;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

input {
    width: 64vw;
    height: 6vh;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.file {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 10px 0;
    padding: 0 5px;
}

.parent-div {
    display: inline-block;
    position: relative;
    overflow: hidden;
    padding: 10px 10px 10px 0;
}

.parent-div input[type=file] {
   
    left: 0;
    top: 0;
    opacity: 0;
    position: absolute;
}

.btn-upload {
    width: 36vw;
    height: 6vh;
    background-color: var(--taupe-gray);
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
    color: var(--china-rose);
    box-shadow: 6px 4px 4px 2px rgba(0, 0, 0, 0.25);
}


.submit {
    width: 64vw;
    height: 6vh;
    border-radius: 5px;
    border: none;
    background-color: var(--tea-rose-red);
    font-size: 16px;
    color: var(--china-rose);
    box-shadow: 6px 4px 4px 2px rgba(0, 0, 0, 0.25);
    margin-bottom: 10px;
} 


.submit:disabled {
    background-color: gray;
    color: rgb(181, 181, 181);
    cursor: not-allowed;
}


.accept {
    display: flex;
    flex-direction: column;
}

.checkbox {
    width: 6vw;
    height: 2vh;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    padding: 0;
    box-sizing: border-box;
    filter: none;
    box-shadow: none;
}
 


.container-name {
    position: relative;
    display: flex;
    flex-direction: column;
}
.container-data {
    position: relative;
}



/* Style du label flottant */
.floating-label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    color: #6c6b6b;
    transition: all 0.3s;
    pointer-events: none;
  }
  
  /* Lorsque l'entrée est active ou remplie, déplacez le label vers le haut */
  input:focus + .floating-label,
  input:not(:placeholder-shown) + .floating-label {
    top: -20px;
    font-size: 12px;
    color: #333;

  }

.error {
    border: 2px solid red  !important;
    background-color: rgb(249, 177, 177);
   
}

.valid {
    border: 2px solid green  !important;
    background-color: rgb(255, 255, 255);
}

.text-danger {
    color: red;
    font-size: 0.7em;
  
    text-align: left;
}


/* Media query pour les écrans de taille tablette et supérieure */
@media (min-width: 768px) {
    main {
        height: 90vh;
        margin: 5vh auto;
        border-radius: 1.2em;
        box-shadow: 6px 4px 4px 2px rgba(0, 0, 0, 0.25);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    .main {
        width:47vw;
        height: 100%;
  
    }
    .logo {
        width:  10vw;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    
    .logo img {
        height: 15vh;
    
    
    }
    .fullName {
        max-width:40vw;
        
    }
    .fullName input {
        max-width: 18vw;
        height:6vh;
        
    }
    input {
        max-width: 40vw;
        height: 6vh;
        
    }

    .btn-upload {
        max-width: 26vw;
        
    }
    .submit {
        max-width: 40vw;
       
    } 
    
}