<!-- <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 col-sm-12">
        <h2>Connexion</h2>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="email">Adresse e-mail</label>
            <input type="email" class="form-control" id="email" name="email" formControlName="email" placeholder="Entrez votre adresse e-mail" required>
          </div>
          <div class="form-group">
            <label for="password">Mot de passe</label>
            <input type="password" class="form-control" id="password" name="password" formControlName="password" placeholder="Entrez votre mot de passe" required>
          </div>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="rememberMe" name="rememberMe" formControlName="rememberMe">
            <label class="form-check-label" for="rememberMe">Se souvenir de moi</label>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Se connecter</button>
        </form>
      </div>
    </div>
  </div>
   -->

   <div class="main">
    <div>
        <h1>PLANNER</h1>
    </div>



    <div class="logo">
        <img src="../assets/logo1.png" alt="" srcset="">
    </div>

    <div class="alert" *ngIf="erreur">
    <strong>login ou mot de passe erronés..</strong>
    </div>

    <div class="input">
        <div class="login">
            <svg id="Capa_1" enable-background="new 0 0 345.326 345.326" height="512" viewBox="0 0 345.326 345.326" width="512" xmlns="http://www.w3.org/2000/svg"><g><g id="account_1_"><path id="Combined-Shape" d="m223.023 158.274c51.653 0 93.526 41.873 93.526 93.526v64.749c0 15.893-12.884 28.777-28.777 28.777h-230.218c-15.893 0-28.777-12.884-28.777-28.777v-64.749c0-51.653 41.873-93.526 93.526-93.526zm-50.36-158.274c39.733 0 71.943 32.21 71.943 71.943s-32.21 71.943-71.943 71.943-71.943-32.21-71.943-71.943 32.21-71.943 71.943-71.943z"/></g></g></svg>
            <input type="email" placeholder="Email*" [(ngModel)]="email">
        </div>
        <div class="login">
            <svg id="magicoon-Filled" height="512" viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg"><g id="lock-Filled"><path id="lock-Filled-2" d="m362.667 213.12v-63.787a106.667 106.667 0 0 0 -213.334 0v63.787c-31.573 15.786-53.333 48-53.333 85.547v64a96.145 96.145 0 0 0 96 96h128a96.145 96.145 0 0 0 96-96v-64c0-37.547-21.76-69.761-53.333-85.547zm-85.334 128.213a21.333 21.333 0 1 1 -42.666 0v-21.333a21.333 21.333 0 0 1 42.666 0zm42.667-138.666h-128v-53.334a64 64 0 1 1 128 0z" data-name="lock-Filled"/></g></svg>
           
            <input type="password" placeholder="Password*" [(ngModel)]="password">
        </div>
            
    </div>

     <button class="bouton" aria-placeholder="Connexion" (click)=" login()">Connexion</button>

    <p>Pas encore de compte ?    </p> <a routerLink="/inscription">Sign Up</a>


</div>


